*{
    padding: 0px; 
    margin: 0px;
}
body{
    background-image: url(../asset/image/pexels-timson-foox-2182863.jpg);
    background-size: 98.9vw;
    background-repeat: no-repeat;
    height: 400vh;
    background-attachment: scroll;
}
#header{
    width: 100%;
    height: 400px;
    display: flex;
    /* background-color: blue; */
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 5px 15px black;
}
#headervid{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    filter: brightness(50%) hue-rotate(180deg);
}
#headingtext{
    position: absolute;
    font-size: 80px;
    z-index: 3;
    letter-spacing: 25px;
    color: white;
    text-shadow: 5px 5px 5px black;
    font-family: Arial, Helvetica, sans-serif;
}
#robo1{
    position: absolute;
    z-index: 3;
    left: 550px;
    bottom: 225px;
    width: 100px;
    filter: drop-shadow(5px 5px 5px grey);
}
#robo2{
    position: absolute;
    z-index: 3;
    right: 450px;
    bottom: 170px;
    width: 100px;
    /* filter: drop-shadow(5px 5px 5px black); */
}
#robo3{
    position: absolute;
    z-index: 3;
    left: 750px;
    bottom: -250px;
    width: 100px;
    transition: bottom 0.5s;
    transition-timing-function: ease-in;
    filter: drop-shadow(5px 5px 5px black);
}
#header:hover #robo3{
    bottom: -80px;
}
#greet{
    position: relative;
    z-index: 4;
    top: 120px;
    right: 80px;
    width: 120px;
    background-color: white;
    border-radius: 200px;
    text-align: center;
    font-size: 24px;
    filter: opacity(0);
    transition: filter 0.5s,transform 1s;
    transition-delay: 0.5s;
    transform: rotateY(360deg) skewY(30deg);
}
#header:hover #greet{
    filter: opacity(1);
    transform: rotateY(360deg) skewY(10deg);
}
/* ------------------------------------------------------ */
#navbar{
    width: 100%; 
    height: 7.5vh;
    background-color: rgba(0, 0, 0, 0.579);
    position: sticky;
    top: 0px;
    bottom: 0px;
    display: flex;
    justify-content:space-between;
}
#mainlist{
    list-style: none;
    display: flex;
}
.li{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    height: 2.4vh; width: 17.18vw;
    transition: transform 0.5s;
}
.li:hover{
    background-color: rgb(135,235,185);
    color: black;
    transform: scaleX(1.02);
}
#sublist{
    list-style: none;
    display: none;
}
#hov:hover #sublist{
    position: relative;
    left: 50px;
    display: block;
    width: 150px;
}
#hov:hover .sli{
    color: white;
}
.sli{
    background-color: black;
    width: 100%;
    position: relative;
    right: 20px;
    top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: translate 0.2s;
}
.sli:hover{
    background-color: rgb(135,235,185);
    color: black;
    transform: translateX(20px);
}
/* #hov{
  width: 80px;
} */
.video{
 display: none;
}
.sli:hover .video{
    width: 200px;
    display: block;
    position: absolute;
    left: 100px;
    padding-left: 50px; 
}
#rembody{
    width: 100%; 
    height: 350vh;
}
#robotics,#aibody,#xr,#vr,#threejs{
    width: 100%; 
    height: 60vh;
    margin-bottom: 50px;
    background-color: grey;
    border-bottom: 40px groove rgb(129, 150, 158);
    border-top: 40px groove rgb(129, 150, 158);
    box-shadow: 0px 10px 15px black,0px -10px 15px black;
}
/* ------------------------------------------------------ */
#background{
    width: 100%; height: 100vh;
    background-color: #07252db0;
    display: flex;
   overflow: hidden;
   position: relative;
   top: 26vh;
}
#contactus{
    position: relative;
    width: 40%;
    height: 75vh;
    background-color: aquamarine;
    top: 10vh; left: 15vw;
    box-shadow: 0px -5px aquamarine; 
}
#heading{
    position: relative;
    top: 15px; left: 170px;
    font-size: 3vw;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.right{
    position: absolute;
    /* text-align: center; */
}
#name,#emaild,#additional{
    font-size: 15px;
    width: 25vw; height: 4.5vh;
    left: 100px; top: 100px;
    outline: none;
    border: none;
}
#emaild{
    left: 100px; top: 180px;
}
#additional{
    width: 25vw; height: 20vh;
    left: 100px; top: 260px;
}
#submit{
    width: 5vw; height: 3.5vh;
    left: 270px; top: 450px;
    outline: none;
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
#details{
    position: relative;
    top: 22vh;
    left: 30vw;
    width: 40%;
    height: 70vh;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 3;
}
.left{
    background-color: white;
    width: 13vw; height: 25vh; 
    display: flex;
    justify-content: center;
    margin-left: 25px;
}
#fax,#email{
    position: relative;
    bottom: 50px;
}
.img{
    position: relative; top: 25px;
    width: 50px; height: 50px;
}
.h1{
    position: absolute;
    top: 100px;
    left: 50px;
    font-size: 18px;
}
#b{
    left: 310px;
}
#d{
    left: 30px;
}
/* ------------------------------------------------------ */
#footer{
    width: 100%; 
    height: 100px;
    background-color: rgb(97, 109, 114);
    position: absolute;
    top: 522vh;
    text-align: center;
}
/* ------------------------------------------------------ */
#totop{
    position: relative; 
    top: 62px;
    left: 5px;
}
